<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>- Mon index -</title>
</head>
<body>

	<div align="center">
		<h1>Affichage des produits</h1>

		<table border="1">
			<thead>
				<tr>
					<th>Produit ID</th>
					<th>Nom</th>
					<th>Prix</th>
					<th>Description</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="Produit:${listProduits}">
					<td th:text="${Produit.proId}">Produit ID</td>
					<td th:text="${Produit.proNom}">Nom</td>
					<td th:text="${Produit.proPrix}">Prix</td>
					<td th:text="${Produit.proDesc}">Description</td>
					<td>
					</td>
				</tr>
			</tbody>
		</table>


	</div>

</body>
</html>